@charset "UTF-8";

.pager {
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	bottom: 80px;
	left: 290px;
	right: 290px;
}

.btn {
	cursor: pointer;
}

#pages {
	display: flex;
}

.orange {
	color: #5b9bd5;
}

.margin-left {
	margin-left: 5px;
}

.btn-next {
	padding-left: 10px;
}

.btn-prev {
	margin-right: 10px;
}