@charset "UTF-8";

#middle-box>div:nth-child(2){
	position: relative;
    display: flex;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
	left: 30px;
	align-items: baseline;
	top: 10px;
}

#middle-box>div>#title-box{
	flex-grow: 1;
	text-align: left;
	margin-left: 50px;
	position: relative;
	top: 10px;
}

.search-box{
    /* border: 1px solid #5b9bd5; */
	height: fit-content;
	border-radius: 50px;
}

.search-bar{
	font-size: 20px;
	vertical-align: middle;
	border-radius: 50px;
}

.search-mark{
	width: 22px;
	height: 22px;
    vertical-align: middle;
    cursor: pointer;
}

#title{
	font-size: 40px;
}

#content-box{
	text-align: center;
}

#content-box>ul{
	display: flex;
	height: 400px;
}

#content-box>ul>li{
	margin-top: 60px;
	margin-left: 100px;
}

.article-bg{
	position: relative;
	z-index: 7;
	width: 200px; 
	height: 340px; 
	border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
}

.article-bg label{
	cursor: pointer;
}

.article-content{
	position: relative;
	top: 28px;
	display: flex; 
	flex-direction: column; 
	text-align: center;
}

.article-content>img{
	width: 150px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
}

.label-title{
	font-size: 24px;
	font-weight: bold;
	padding-top: 10px;
}

.content-div{
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.content-div>label{
	height: 22px;
}

#more{
	position: relative;
    height: fit-content;
    top: 70px;
    cursor: pointer;
}
