#main{
    padding: 20px;
}
#bg-box{
    height: 750px;
}
#middle-box{
    width:500px;
    height:600px;
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top:20px ;
}

#title{
    font-size: 40px;
}

#signupForm{
    height: 470px;
    position: relative;
    margin-top: 3px;
}

#signupForm>form>label{
    font-size: 18px;
}

#formContent{
    text-align: left;
    padding-left: 60px;
    margin-bottom: 25px;
}
#formContent>div{
    height: 68px;
    margin-bottom: 2px;
}
#formContent>div>input{
    width:360px;
    height:25px;
}
#inputEmail{
    height:25px;
}

#selectDiv{
    height: 40px;
    width: 365px;
    display: flex;
    position: relative;
    
}
#selectDiv>div:first-child{
    position: absolute;
    left:0px;
}

#selectDiv>div:last-child{
    position: absolute;
    right:0px;
}

#selectDiv>div>select{
    padding-left: 14px;
    width:80px;
}

#emailOption{
    height: 30px;
    width: 175px;
}
#signUpButton{
    position: relative;
}
#signUpButton>a>input{
    width: 100px;
    height: 50px;
    background-color: #5b9bd5;
    border-color: #5b9bd5;
    color:white;
    font-size: 16px;

}

#signUpButton>a:first-child>input{
    position: absolute;
    left:125px;
    top: -30px;
}
#signUpButton>a:last-child>input{
    position: absolute;
    right:125px;
    top: -30px;
}

#idConfirm{
	position: relative;
    left: 110px;
    color: red;
}
#pwdConfirm{
	position: relative;
    left: 30px;
    color: red;
}
#pwdchk{
    position: relative;
    left: 123px;
    color: red;
}
#idchk{
    font-size: 15px;
    color: red;
}

#phone-confirm{
	font-size: 15px;
    color: red;
}
